@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* @custom-variant dark (&:is(.dark *)); */

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --radius: 1.4rem;
  --background: oklch(0 0 0);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.1202 0.0366 301.7027);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.1202 0.0366 301.7027);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(42.564% 0.20379 291.02);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.1991 0.01 294.6446);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.294 0.013 272.9312);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.159 0.081 292);
  --accent-foreground: oklch(0.954 0.0063 255.4755);
  --destructive: oklch(63.632% 0.22339 26.332);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3049 0.02 297.6882);
  --input: oklch(0.3049 0.02 297.6882);
  --ring: oklch(0.6132 0.2294 291.7437);

  /* Chart Colors */
  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.6132 0.2294 291.7437);
  --chart-3: oklch(0.8077 0.1035 19.5706);
  --chart-4: oklch(0.6691 0.1569 260.1063);
  --chart-5: oklch(0.7058 0 0);

  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: oklch(0.159 0.081 292 / 0.86);
  --sidebar-accent-foreground: var(--ring);
  --sidebar-border: oklch(0.3289 0.0092 268.3843);
  --sidebar-ring: var(--ring);

  /* Fonts */
  --font-base: "Space Grotesk", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Space Mono", monospace;
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius));
  --radius-md: calc(var(--radius));
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius));
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-base: var(--font-base);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-base;
    letter-spacing: var(--tracking-normal);
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .card_gradient {
    @apply to-card/50 bg-linear-to-b from-gray-950;

    @apply transition-all duration-300 ease-in-out hover:scale-[1.001] hover:shadow-gray-950/90;
  }
}

@utility bg-hero-grad {
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #200d42 34%,
    #4e20a1 65%,
    #622cc7 82%
  );
}

@utility bg-about-grad {
  background: linear-gradient(to bottom, #000000 0%, #200d42 40%, #4f21a1 65%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
